@using Amazon.Core.Models
@using Amazon.Common.Helpers
@model Amazon.Web.ViewModels.PackingSlipCollectionModel
@{
    Layout = null;
    var couponIndex = 0;
    var couponEnabled = false;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Packing Slip @(Model.BatchId.HasValue ? " - " + Model.BatchId.ToString() : "") - @(Model.PackingSlips.Count == 1 ? Model.PackingSlips[0].OrderId : Model.PackingSlips.Count + " orders")</title>
    <style>
        @@page {
            margin-top: 0.4in;
            margin-bottom: 0.4in;
            margin-left: 0.4in;
            margin-right: 0.4in;
        }

        body {
            -webkit-print-color-adjust: exact;
        }

        .doc {
            /*max-width: 950px;*/
            font-family: sans-serif;
        }

        .doc a {
            color: #0070C0;
        }

        .doc table {
            width: 100%;
            vertical-align: top;
            border: none;
            border-collapse: collapse;
        }

        .doc td, .doc th {
            vertical-align: top;
        }

        .doc .ship-to {
            color: #808080;
        }

        .doc .order, .doc .ship-to, .doc .items {
            padding: 20px 40px 10px 40px;
        }

        .doc .order th, .doc .order td, .doc .items th, .doc .items td {
            border: 1px solid #B0CCB0;
        }

        .doc .order th, .items th {
            color: #808080;
            font-size: 11px;
            background-color: #EFF4EF;
            height: 25px;
            vertical-align: middle;
        }

        .doc .order td {
            padding: 3px 10px 3px 10px;
            vertical-align: middle;
        }

        .doc .items th {
            text-align: left;
            padding: 0px 10px 0px 10px;
        }

        .doc .items td {
            font-size: 12px;
            padding: 3px 10px 3px 10px;
        }

        .doc .footer {
            padding: 5px 40px 5px 40px;
        }

        .doc .bottom-footer {
            /*position: fixed;
            bottom:0px;*/
        }

        .doc .header {
            /* opacity: 0.5; */
        }


        .groupon-ps, .groupon-ps table {
            font-family: sans-serif;
            font-size: 8pt
        }

        .groupon-ps td, .groupon-ps tr {
            padding: 0px;
            margin: 0px;
            border-spacing: 0px;
            border-collapse: collapse;
        }

        .groupon-ps .order-items td {
            padding: 5px;
        }

        .groupon-ps .gray-font {
            color: #999;
        }
    </style>
    <link rel="shortcut icon" href="/Content/Images/print.ico" />

</head>
<body>
    @if (Model.BatchId.HasValue)
    {
        <div class="groupon-ps" style="page-break-after: always;">
            <table style="width: 100%; font-size: 32px; margin-left: 100px; margin-top: 150px; margin-bottom: 150px">
                <colgroup>                    
                    
                </colgroup>
                <tr>
                    <td style="padding-bottom: 10px; font-size: 36px">Packing Slips</td>
                </tr>
                <tr>
                    <td><span style="color: darkgray">Date: </span>@(DateHelper.ToDateTimeString(Model.Date))</td>
                </tr>
                <tr>
                    <td><span style="color: darkgray">Batch ID: </span>@Model.BatchId</td>
                </tr>
                <tr>
                    <td><span style="color: darkgray">Batch Name: </span>@Model.BatchName</td>
                </tr>
                <tr>
                    <td><span style="color: darkgray">Number of Packages: </span>@Model.PackingSlips.Count</td>
                </tr>
            </table>
        </div>
    }


    @for (int j = 0; j < Model.PackingSlips.Count; j++)
    {
        var order = Model.PackingSlips[j];
        var marketInfo = Model.GetMarketInfoBy(order.Market, order.MarketplaceId);
        var newPage = "style=\"page-break-after: always;\"";

        if (order.Market == MarketType.Groupon)
        {
            <div class="groupon-ps" @Html.Raw(newPage)>
                <table style="width: 100%">
                    <colgroup>
                        <col width="auto" />
                        <col width="280px" />
                    </colgroup>
                    <tr>
                        <td><img src="~/Images/Groupon/groupon-goods.png" /></td>
                        <td style="text-align: right">
                            <table style="width: 280px;">
                                <tr>
                                    <td>
                                        Groupon Goods, Inc.<br /><span class="gray-font">1081 Aviation Blvd<br />Hebron, KY 41048</span>
                                    </td>
                                    <td class="gray-font">
                                        groupon.com/goods<br />groupon.com/support<br />facebook.com/GrouponGoods
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="text-align: center;">
                                        <img src="~/Images/Groupon/free-shipping.png" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <div style="font-size: 16pt; font-weight: 100; padding: 5px 10px" class="gray-font">
                    Thanks for shopping with Groupon Goods!<br /> We don't believe in secrets, so feel free to tell all your friends about us.
                </div>
                <div style="padding-left: 10px; padding-right: 10px">
                    <div style="border-top: 0.25pt solid #aaa; padding: 8px 0px">
                        <table>
                            <tr>
                                <td style="padding-right: 15px; font-weight: bold; vertical-align: top">
                                    <div style="padding-bottom: 10px; font-size: 18px"><span style="font-weight:normal">B@(order.BatchNumber)</span> <b>#@order.Number</b></div>
                                    Order Date
                                </td>
                                <td style="vertical-align: top" class="">
                                    <div style="padding-bottom: 10px; font-size: 18px">&nbsp;</div>
                                    @order.OrderDateFormatted
                                </td>
                                <td style="padding: 0px 15px; vertical-align: top">
                                    <div style="font-weight: bold;  padding-bottom: 8px">Bill to</div>
                                    <span class="">
                                        @order.FormattedBuyerName
                                        <br />@order.AddressToAddress1 @order.AddressToAddress2
                                        <br />@order.AddressToCity, @order.AddressToState @order.AddressToZip @order.AddressToCountry
                                        <br />@order.AddressToPhone
                                    </span>
                                </td>
                                <td style="vertical-align: top">
                                    <div style="font-weight: bold; padding-bottom: 8px">Ship To</div>
                                    <span class="">
                                        @order.AddressToFullName
                                        <br />@order.AddressToAddress1 @order.AddressToAddress2
                                        <br />@order.AddressToCity, @order.AddressToState @order.AddressToZip @order.AddressToCountry
                                        <br />@order.AddressToPhone
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-top: 15px; font-weight: bold">Order ID</td>
                                <td style="padding-top: 15px" class="">@order.FormattedOrderId</td>
                                <td style="padding: 15px 15px 0px 15px"><span style="font-weight: 700; margin-right: 15px">Shipped Via</span><span class="">@order.Carrier - @order.ShippingService</span></td>
                            </tr>
                        </table>
                        <table class="order-items" style="background-color: #fafafa; width: 100%; padding-top: 15px" cellpadding="0" cellspacing="0">
                            <thead>
                                <tr style="background-color: #6c6d70; color: white">
                                    <td>Image</td>
                                    <td>Item Number</td>
                                    <td>Item Description</td>
                                    <td>Quantity</td>
                                </tr>
                            </thead>
                            @foreach (var item in order.Items)
                            {
                            <tr>
                                <td style="width: 100px; height: 85px; padding:0px; margin:0px; text-align: center; vertical-align: middle;">
                                    <img style="margin-top:2px; max-height: 75px; max-width: 75px" src="@item.Thumbnail" />
                                </td>
                                <td>
                                    @item.SKU
                                    <div>LOC: @item.Isle / @item.Section</div>
                                </td>
                                <td>@item.Name</td>
                                <td>@item.Quantity</td>
                            </tr>
                            }
                        </table>
                        <div style="padding: 10px 0px 50px 0px" class="gray-font">
                            If you're looking for a gift message, you're in the right place:
                        </div>
                        <div style="border-top: 1px solid #aaa;">
                            <div style="padding: 10px 0px 20px 0px" class="gray-font">
                                If you have any questions about your new goods, please contact us at groupon.com/support.<br />
                                And, if for any reason your new goods don't blow your socks right through your shoes, you can return your purchase within 14 days of receipt<br />
                                —unless stated otherwise in the offer's Fine Print—by following these simple steps: 1
                            </div>
                        </div>

                        <table cellpadding="0" cellspacing="0" style="width: 100%">
                            <colgroup>
                                <col width="33%" />
                                <col width="33%" />
                                <col width="33%" />
                            </colgroup>
                            <tr>
                                <td style="padding-right: 20px; ">
                                    <table style="background-color: #fafafa" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td>
                                                <img src="~/Images/Groupon/print-1.png" />
                                            </td>
                                            <td class="gray-font">
                                                Go to your account (groupon.com/mygroupons)  and click on the arrow next to  “Track Order”, and then select “Return” to print a prepaid mailing label.**
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td style="padding-right: 20px;">
                                    <table style="background-color: #fafafa;" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td>
                                                <img src="~/Images/Groupon/box-2.png" />
                                            </td>
                                            <td class="gray-font">
                                                Place the unused item in its original packaging with all parts, accessories, and farewell letters.
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td>
                                    <table style="background-color: #fafafa" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td>
                                                <img src="~/Images/Groupon/package-3.png" />
                                            </td>
                                            <td class="gray-font">
                                                Attach the prepaid mailing label and ship your goods, postmarked within 14 days of receipt.
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <div style="padding-top: 10px" class="gray-font">
                            *Free Shipping applies to eligible orders in the U.S. only.<br />
                            **For Canadian Orders: Contact us at groupon.com/support to request a Return Authorization form and prepaid mailing label.
                        </div>
                        <div style="padding-top: 30px">
                            <img src="~/Images/Groupon/groupon-barcode.png" />
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="doc" @Html.Raw(newPage)>
                <table class="header">
                    <tr>
                        <td>
                            <div>
                                @if (!String.IsNullOrEmpty(marketInfo.StoreLogoUrl))
                                {
                                    <img src="@(marketInfo.StoreLogoUrl)" height="105" />
                                }
                                else
                                {
                                    <span>@(marketInfo.StoreDisplayName)</span>
                                }
                            </div>
                        </td>
                        <td style="font-size: 42px; color: #DFEADF;padding-top:20px">Packaging Slip</td>
                        <td style="padding-top: 20px">
                            <div><img src="@(marketInfo.MarketLogoUrl)" width="120" /></div>
                        </td>
                    </tr>
                </table>
                <div class="ship-to">
                    <table>
                        <tr>
                            <th style="width: 55px; font-size: 10px; text-align: left; line-height: 14px; padding-top: 5px">SHIP<br />TO</th>
                            <td style="font-size: 15px">
                                @order.AddressToFullName
                                <br />@order.AddressToAddress1 @order.AddressToAddress2
                                <br />@order.AddressToCity, @order.AddressToState @order.AddressToZip @order.AddressToCountry
                                <br />@order.AddressToPhone
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="order">
                    <table>
                        <tr>
                            <th>Batch ID</th>
                            <th>#</th>
                            <th>Order Number</th>
                            <th>Buyer Name</th>
                            <th>Order Date</th>
                            <th>Shipping</th>
                        </tr>
                        <tr>
                            <td style="font-size: 12px; width: 16px">B@(order.BatchNumber)</td>
                            <td style="font-size: 18px; width: 16px;">@order.Number</td>
                            <td style="font-size: 18px; width: 190px">@order.FormattedOrderId</td>
                            <td style="font-size: 12px;">@order.FormattedBuyerName</td>
                            <td style="font-size: 11px; width: 70px">@order.OrderDateFormatted</td>
                            <td style="font-size: 12px; width: 75px; text-align: center">@order.Carrier - @order.ShippingService</td>
                        </tr>
                    </table>
                </div>
                <div class="items">
                    <table>
                        <tr>
                            <th>Item's image</th>
                            <th>Item Name</th>
                            <th>Details</th>
                        </tr>
                        @foreach (var item in order.Items)
                        {
                            for (int i = 0; i < item.Quantity; i++)
                            {
                                var margin = (int)(j / 80);

                                <tr>
                                    <td style="width: 100px; height: 85px; padding:0px; margin:0px; text-align: center; vertical-align: middle;">
                                        <img style="margin-top:@(margin + 4)px; max-height: 75px; max-width: 75px" src="@item.Thumbnail" />
                                    </td>
                                    <td>
                                        @item.Name<br />
                                        <span style="font-size: 13px">
                                            Size:
                                            @if (item.Size != item.StyleSize)
                                            {
                                                <span style="font-weight: bold">@item.FormattedStyleSize</span> <span>(@(item.Size))</span>
                                            }
                                            else
                                            {
                                                <span style="font-weight: bold">@item.FormattedStyleSize</span>
                                            }
                                        </span><br />
                                        <span style="font-size: 13px">Color: 
                                            @if (item.Color != item.StyleColor)
                                            {
                                                <span style="font-weight: bold">@StringHelper.GetFirstNotEmpty(item.StyleColor, "-")</span> <span>(@(@StringHelper.GetFirstNotEmpty(item.Color, "-")))</span>
                                            }
                                            else
                                            {
                                                <span style="font-weight: bold">@StringHelper.GetFirstNotEmpty(item.Color, "-")</span>
                                            }
                                        </span><br />
                                    </td>
                                    <td style="width: 190px">
                                        ASIN: @item.ASIN<br />
                                        @*Listing ID: @item.ListingID<br />
                                            Order Item ID: @item.OrderItemID<br />*@
                                        SKU: @item.SKU<br />
                                        Style ID: <b>@item.StyleID</b><br />
                                        LOC: @item.Isle / @item.Section
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </div>
                <div class="footer">
                    <div style="padding: 0px 50px">
                        <p style="font-size: 13px; font-weight: bold; text-align: center">
                            Thank you for buying from @(marketInfo.StoreDisplayName)
                            @if (marketInfo.Market != (int)MarketType.DropShipper)
                            {
                                <span>on @(marketInfo.MarketName) Marketplace.</span>
                            }
                        </p>

                        @Html.Raw(marketInfo.PackingSlipFooterTemplate)
                    </div>

                    @if (couponEnabled)
                    {
                        if (order.Items.Count <= 2
                            && order.Market == MarketType.Amazon)
                        {
                            if ((couponIndex++) % 3 < 2)
                            {
                                <div style="padding-left: 20px">
                                    <div style="text-align: center;">
                                        <div>
                                            <img src="~/Images/Coupones/coupon_1.jpg" style="width: 500px" />
                                        </div>
                                        <div style="font-size: 16px">
                                            <a href="http://a.co/8WIjsQ6" target="_blank">http://a.co/8WIjsQ6</a>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div style="padding-left: 20px">
                                    <div style="text-align: center;">
                                        <div>
                                            <img src="~/Images/Coupones/coupon_2.jpg" style="width: 500px" />
                                        </div>
                                        <div style="font-size: 16px">
                                            <a href="http://a.co/2OoVXOF" target="_blank">http://a.co/2OoVXOF</a>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
            </div>
            <div class="bottom-footer" style="position: relative; top: -40px">
                <p style="font-size: 11px; color: #808080; text-align: center">
                    Our Address for Returns & Exchanges: @(marketInfo.StoreDisplayName),
                    @if (marketInfo.MarketplaceId == MarketplaceKeeper.DsToMBG)
                    {
                        <span>427 N.E. 2nd Ave, Hallandale Beach, Fl 33009</span>
                    }
                    else
                    {
                        @(Model.ReteurnAddressString)
                    }
                </p>
            </div>
        }
    }
</body>
</html>
